{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Amortization edit</h1>

    {{ form_start(edit_form) }}
    {{ form_widget(edit_form) }}
    <input type="submit" class="btn btn-info" value="Save" />
    {{ form_end(edit_form) }}

    <br/>
    <a class="btn btn-primary" href="{{ path('amortization_index') }}">Back to the list</a>

    <a class="btn btn-danger" href="{{ delete_url }}">Delete</a><br/>

{% endblock %}
