{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Amortization list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Period</th>
                <th>Aset</th>
                <th>Amortization</th>
                <th>Createtime</th>
                <th>Updatetime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for amortization in amortizations %}
            <tr>
                <td><a href="{{ path('amortization_show', { 'id': amortization.id }) }}">{{ amortization.id }}</a></td>
                <td>{% if amortization.period %}{{ amortization.period|date('Y-m-d') }}{% endif %}</td>
                <td>{{ amortization.aset.title | default("Not Set") }}</td>
                <td>{{ amortization.amortization }}</td>
                <td>{% if amortization.createTime %}{{ amortization.createTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if amortization.updateTime %}{{ amortization.updateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    
                    <a href="{{ path('amortization_show', { 'id': amortization.id }) }}" class="btn btn-block btn-success btn-sm">show</a>
                    <br/>   
                    <a href="{{ path('amortization_edit', { 'id': amortization.id }) }}" class="btn btn-block btn-danger btn-sm">edit</a>
                                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('amortization_new') }}" class="btn btn-primary">Create a new entry</a>
 
{% endblock %}

{% block amortization %} class="active treeview" {% endblock  %}
{% block amortization_index %}class="active" {% endblock %}
