{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Amortization</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ amortization.id }}</td>
            </tr>
            <tr>
                <th>Period</th>
                <td>{% if amortization.period %}{{ amortization.period|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Asetid</th>
                <td>{{ amortization.aset.id | default("Not Set") }}</td>
            </tr>
            <tr>
                <th>Amortization</th>
                <td>{{ amortization.amortization }}</td>
            </tr>
            <tr>
                <th>Createtime</th>
                <td>{% if amortization.createTime %}{{ amortization.createTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Updatetime</th>
                <td>{% if amortization.updateTime %}{{ amortization.updateTime|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>


    <a class="btn btn-primary" href="{{ path('amortization_index') }}">Back to the list</a>
    <a class="btn btn-warning" href="{{ path('amortization_edit', { 'id': amortization.id }) }}">Edit</a>
    <a class="btn btn-danger" href="{{ delete_url }}">Delete</a>


{% endblock %}
