{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Counter list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Number</th>
                <th>Numberdigits</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for counter in counters %}
            <tr>
                <td><a href="{{ path('Admin_Counter_show', { 'id': counter.id }) }}">{{ counter.id }}</a></td>
                <td>{% if counter.created %}{{ counter.created|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if counter.updated %}{{ counter.updated|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ counter.number }}</td>
                <td>{{ counter.numberDigits }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Admin_Counter_show', { 'id': counter.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('Admin_Counter_edit', { 'id': counter.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Admin_Counter_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
