{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}

     <h1>Cities edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
       <p> <input class="btn btn-info" type="submit" value="Edit" />
 <a class="btn btn-primary" href="{{ path('cities_index') }}">Back to the list</a>
 <a class="btn btn-danger" href="{{ path('cities_delete', {'id': city.id}) }}">Delete</a>
    {{ form_end(edit_form) }}

   
           
        
          
       
{% endblock %}
