{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
 {{ parent() }}
    <div class="box box-success">
        <div class="box-header">
            <h3 class="box-title">Cities</h3>
        </div>
        <div class="box-body">
        <h1>Cities list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Postalcode</th>
                <th>Country</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for city in cities %}
            <tr>
                <td>{{ city.id }}</td>
                <td>{{ city.name }}</td>
                <td>{{ city.postalcode }}</td>
                <td>{{ city.country }}</td>
                <td>
                           
                            <a class="btn btn-block btn-danger btn-sm" href="{{ path('cities_edit', { 'id': city.id }) }}">edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            <a class="btn btn-primary" href="{{ path('cities_new') }}">Create a new entry</a>
      </div>
{% endblock %}
