{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Assets edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-info" type="submit" value="Edit" />
             <a class="btn btn-primary" href="{{ path('assets_index') }}">Back to the list</a>
            <a class="btn btn-danger" href="{{ path('assets_delete', { 'id': asset.id }) }}">delete</a>
    {{ form_end(edit_form) }}
  
           
{% endblock %}
