{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
     <div class="box box-success">
        <div class="box-header">
             <h1>{% trans %}Assets list{% endtrans %}</h1>
        </div>
        <div class="box-body">
       

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Asset name{% endtrans %}</th>
                <th>{% trans %}Inventary number{% endtrans %}</th>
                <th>{% trans %}Initial cost{% endtrans %}</th>
                <th>{% trans %}Replacement cost{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td><a href="{{ path('assets_show', { 'id': asset.id }) }}">{{ asset.id }}</a></td>
                <td>{{ asset.title }}</td>
                <td>{{ asset.inventaryNumber }}</td>
                <td>{{ asset.initialcost }}</td>
                <td>{{ asset.replacementcost }}</td>
                <td>
                    
                            <a class="btn btn-block btn-primary" href="{{ path('assets_show', { 'id': asset.id }) }}">{% trans %}show{% endtrans %}</a>
                      
                            <a class="btn btn-block btn-danger btn-sm" href="{{ path('assets_edit', { 'id': asset.id }) }}">{% trans %}edit{% endtrans %}</a>
                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            <a class="btn btn-primary" href="{{ path('assets_new') }}">{% trans %}Create a new entry{% endtrans %}</a>
      </div>
</div>
{% endblock %}
