{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
     <div class="box box-success">
        <div class="box-header">
             <h1>Assets list</h1>
        </div>
        <div class="box-body">
       

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Asset name</th>
                <th>Inventary number</th>
                <th>Initial cost</th>
                <th>Replacement cost</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for asset in assets %}
            <tr>
                <td><a href="{{ path('assets_show', { 'id': asset.id }) }}">{{ asset.id }}</a></td>
                <td>{{ asset.title }}</td>
                <td>{{ asset.inventaryNumber }}</td>
                <td>{{ asset.initialcost }}</td>
                <td>{{ asset.replacementcost }}</td>
                <td>
                    
                            <a class="btn btn-block btn-primary" href="{{ path('assets_show', { 'id': asset.id }) }}">show</a>
                      
                            <a class="btn btn-block btn-danger btn-sm" href="{{ path('assets_edit', { 'id': asset.id }) }}">edit</a>
                            
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            <a class="btn btn-primary" href="{{ path('assets_new') }}">Create a new entry</a>
      </div>
</div>
{% endblock %}
