{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Assets</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ asset.id }}</td>
            </tr>
            <tr>
                <th>Asset name</th>
                <td>{{ asset.title }}</td>
            </tr>
            <tr>
                <th>Inventary number</th>
                <td>{{ asset.inventaryNumber }}</td>
            </tr>
            <tr>
                <th>Initial cost</th>
                <td>{{ asset.initialcost }}</td>
            </tr>
            <tr>
                <th>Replacement cost</th>
                <td>{{ asset.replacementcost }}</td>
            </tr>
        </tbody>
    </table>


            <a class="btn btn-primary" href="{{ path('assets_index') }}">Back to the list</a>
       
            <a class="btn btn-info" href="{{ path('assets_edit', { 'id': asset.id }) }}">Edit</a>
            <a class="btn btn-danger" href="{{ path('assets_delete', { 'id': asset.id }) }}">delete</a>
{% endblock %}
