{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper %}
    <h1>Categories list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Sabnumber</th>
                <th>Title</th>
                <th>Usefultime</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td><a href="{{ path('categories_show', { 'id': category.id }) }}">{{ category.id }}</a></td>
                <td>{{ category.sabNumber }}</td>
                <td>{{ category.title }}</td>
                <td>{% if category.usefulTime %}{{ category.usefulTime}}{% endif %}</td>
                <td>
                    
                            <a class="btn btn-block btn-success btn-sm" href="{{ path('categories_show', { 'id': category.id }) }}">show</a>
                        
                            <a class="btn btn-block btn-danger btn-sm" href="{{ path('categories_edit', { 'id': category.id }) }}">edit</a>
                       
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
            <a href="{{ path('categories_new') }}" class="btn btn-primary">Create a new entry</a>
        
{% endblock %}
{% block amortization_categories %} class="active treeview" {% endblock  %}
{% block amortization_categories_index %}class="active" {% endblock %}