{% extends 'WebAdminBundle::base.html.twig' %}

{% block content_wrapper%}
    <h1>PlaceInstallation list</h1>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for placeInstallation in placeInstallations %}
            <tr>
                <td><a href="{{ path('Admin_PlaceInstallation_show', { 'id': placeInstallation.id }) }}">{{ placeInstallation.id }}</a></td>
                <td>{{ placeInstallation.title }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('Admin_PlaceInstallation_show', { 'id': placeInstallation.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('Admin_PlaceInstallation_edit', { 'id': placeInstallation.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('Admin_PlaceInstallation_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
